html {
	background-color: #0000;
}

header {
	background-color: #173243;
	background-size: cover;
	overflow: hidden;
	box-sizing: border-box;
	left:0;
	right:0;
	top: 0;
	border: 1mm solid #FFFF;
	margin: 0;
}

h1 {
	color: #FFFF;
	font-size: 2.2em;
}

nav {
	padding: 0.8% 1.73%;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 1em;
	background-color: #CFE2F3;
	overflow: hidden;
	border: 1mm solid #5D7AAB;
	position: sticky;
	position: -webkit-sticky;
	top: 0vw;
	padding: 1.5%;
 }

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	float: left;
	left: 50%;
	transform: translate(-50%, -50%);
}
	
nav ul li {
	list-style: none;
	margin: 0 2.5em 0 0;
	padding: 0;
	float: left;
}

body {
	margin: 15%;
	margin-top: auto;
	margin-bottom: auto;
	background-color: #0000;
	background-size: 50%;
	font-size: 1em;
}

aside {
	padding: 2.25%;
	background: #D9D9D9;
	font-style: italic;
	display: block;
}

nav ul {
	list-style: none;
	position: absolute;
}

footer {
	background-color: #173243;
	box-sizing: border-box;
}

/* ID items */
#main_menu {
	margin-left: 40%;
}

#grid_container {
	display: grid;
	grid-template-areas: 
		'header header'
		'nav nav nav nav'
		'aside main_menu'
		'aside main_menu'
		'aside main_menu'
		'footer footer';
	grid-auto-rows: auto;
	grid-template-columns: 1fr 5fr;
	grid-gap: 0.5%;
	padding: 2%;
}

#main_menu {
	grid-area: main_menu;
	grid-column: 2;
	display: block;
	width: 80%;
	margin: 0;
	margin-left: 3vw;
}


/* Re-initialising for grid */
header {
	grid-area: header;
	grid-column: 1 / 2;
}

nav {
	grid-area: nav;
	grid-column: 1 / 2;
}

footer {
	grid-area: footer;
	grid-column: 1 / 2;
}

aside {
	grid-area: aside;
	grid-column: 1;
	width: 25vw;
}

/* Class items */

.small_grid_b, .small_grid_a {
	display: grid;
	grid-gap: 1vw;
	grid-template-areas: 'item item';
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 7%;
	height: auto;
	width: auto;
}


.grid_box {
	grid-area: item;
	background-color: #f8f9f9;
	grid-column: auto;
	grid-row: auto;
	height: auto;
	width: auto;
	padding: 2.5%;
}
